.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.navLeft {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navItems {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--black);
  padding: 0.4rem;
  gap: 2px;
  list-style: none;
  z-index: 1;
  border-radius: 100px;
  width: fit-content;
}

.navItem,
.navCTA {
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1;
  color: var(--black);
  background-color: var(--white);
  font-family: var(--ibmPlexMono);
  font-weight: 500;
  white-space: nowrap;
  padding: 8px 12px;
  border-radius: 100px;
  line-height: 136%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navCTA {
  background-color: var(--black);
  color: var(--white);
  padding: 12px 16px;
}

.navItemActive::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 1px;
  width: 100%;
  background-color: currentColor;
  margin: 0 auto;
}

.hamburger {
  margin-left: auto;
  cursor: pointer;
  z-index: 30002;
  transition: all 220ms ease-out;
  display: none;
}

.whiteBar {
  display: block;
  width: 35px;
  height: 4px;
  margin: 3px auto;
  border-radius: 15px;
  background-color: var(--black);
  border: 1px solid var(--white);
  transition: transform 0.3s cubic-bezier(0.2, 0.7, 0.2, 1),
    opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

@media screen and (max-width: 1268px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 30000;
    transform: translateY(0);
    transition: transform 180ms ease-out;
    padding: 3.2rem;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 2.4rem;
  }

  .navItems,
  .navCTA {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .whiteBar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: var(--black);
  }
  .hamburger.active .whiteBar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .whiteBar:nth-child(3) {
    background-color: var(--black);
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media screen and (max-width: 868px) {
  .navItemsii {
    width: 70vw;
    max-width: none;
    min-width: 0;
  }
}
@media screen and (max-width: 568px) {
  .navItemsii {
    width: 100vw;
    max-width: none;
    min-width: 0;
  }
}
