.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--black);
}

.logo {
  padding: 1px;
  color: var(--white);
}
