.container {
  background-color: var(--white);
  height: 100%;
  padding: 3.2rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5rem;
  height: 100%;
}

.navContainer {
  margin-bottom: 6.5rem;
}

/* .content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 6.5rem;
  height: 100%;
} */

.bottom {
  background-color: var(--blue);
  border-radius: 15px;
  padding: 2rem;
  /* height: 500px; */
}

@media screen and (max-width: 768px) {
  .container {
    padding: 2.4rem;
  }
}
