.container {
  background-color: var(--white);
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  padding: 3.2rem;
  height: 70%;
}

.navContainer {
  margin-bottom: 4.5rem;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.bottom {
  padding: 3.2rem;
  border-top: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  width: 100%;
  height: 30%;
}

.bottomTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
}

.subheading {
  font-size: 2rem;
  letter-spacing: -0.4px;
  font-weight: 500;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  color: var(--white);
  font-family: 1.4rem;
  font-family: var(--ibmPlexMono);
  padding: 2rem;
  border-radius: 20px;
  height: 100%;
  /* min-height: 200px; */
  width: 100%;
}

.logo {
  font-size: 8rem;
}

@media screen and (max-width: 768px) {
  .top {
    padding: 2.4rem;
  }
}
