.content {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 560px minmax(0, 1fr);
  grid-auto-columns: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  min-height: 100vh;
}

.left {
  position: fixed;
  top: 0;
  left: 0;
  width: 560px;
  height: 100vh;
  background-image: url("/curly_hair_left.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-right: 1px solid var(--badge_canceled);
}

.right {
  grid-column: 2;
  min-height: 100vh;
}

@media screen and (max-width: 1268px) {
  .content {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    min-height: auto;
  }

  .left {
    position: relative;
    width: 100%;
    height: 60vh;
  }

  .right {
    grid-column: 1;
    min-height: auto;
  }
}
